<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>CustomerController</servlet-name>
		<display-name>CustomerController</display-name>
		<description>Customer controller is used to handle the data entered by
			customer</description>
		<servlet-class>com.revature.project.banking.controllers.CustomerController</servlet-class>
		
	</servlet>
	<servlet>
		<servlet-name>AccountDetailsServlet</servlet-name>
		<display-name>AccountDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.AccountDetailsServlet</servlet-class>
		
	</servlet>
	<servlet>
		<servlet-name>ViewBalanceServlet</servlet-name>
		<display-name>ViewBalanceServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.ViewBalanceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WithdrawSuccessServlet</servlet-name>
		<display-name>WithdrawSuccessServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.WithdrawSuccessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerDepositServlet</servlet-name>
		<display-name>CustomerDepositServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.CustomerDepositServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferMoneySuccessServlet</servlet-name>
		<display-name>TransferMoneySuccessServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.TransferMoneySuccessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorHandlerServlets</servlet-name>
		<display-name>ErrorHandlerServlets</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.exceptions.ErrorHandlerServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<display-name>DeleteCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCustomerServlet</servlet-name>
		<display-name>UpdateCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllCustomerWithdrawals</servlet-name>
		<display-name>EmployeeViewAllCustomerWithdrawals</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllCustomerWithdrawals</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllCustomerTransferDetails</servlet-name>
		<display-name>EmployeeViewAllCustomerTransferDetails</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllCustomerTransferDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllCustomerDeposits</servlet-name>
		<display-name>EmployeeViewAllCustomerDeposits</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllCustomerDeposits</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllFeedbackServlet</servlet-name>
		<display-name>EmployeeViewAllFeedbackServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllFeedbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllRequests</servlet-name>
		<display-name>EmployeeViewAllRequests</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewAllCustomerServlet</servlet-name>
		<display-name>EmployeeViewAllCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewAllCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCustomerServlet</servlet-name>
		<display-name>LoginCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.LoginCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerFeedbackServlet</servlet-name>
		<display-name>CustomerFeedbackServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.CustomerFeedbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDeleteCustomerServlet</servlet-name>
		<display-name>EmployeeDeleteCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeDeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeViewCustomerByIdServlet</servlet-name>
		<display-name>EmployeeViewCustomerByIdServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeViewCustomerByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerViewMyAccountServlet</servlet-name>
		<display-name>CustomerViewMyAccountServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.CustomerViewMyAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<display-name>EmployeeLoginServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOutEmployeeServlet</servlet-name>
		<display-name>LogOutEmployeeServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.LogOutEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApproveCustomerServlet</servlet-name>
		<display-name>ApproveCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.ApproveCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RejectCustomerServlet</servlet-name>
		<display-name>RejectCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.RejectCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeGetDepositById</servlet-name>
		<display-name>EmployeeGetDepositById</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeGetDepositById</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeGetWithdrawById</servlet-name>
		<display-name>EmployeeGetWithdrawById</display-name>
		<description></description>
		<servlet-class>com.revature.project.banking.controllers.EmployeeGetWithdrawById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/CustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountDetailsServlet</servlet-name>
		<url-pattern>/AccountDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBalanceServlet</servlet-name>
		<url-pattern>/ViewBalanceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WithdrawSuccessServlet</servlet-name>
		<url-pattern>/WithdrawSuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerDepositServlet</servlet-name>
		<url-pattern>/CustomerDepositServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferMoneySuccessServlet</servlet-name>
		<url-pattern>/TransferMoneySuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorHandlerServlets</servlet-name>
		<url-pattern>/ErrorHandlerServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/DeleteCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomerServlet</servlet-name>
		<url-pattern>/UpdateCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllCustomerWithdrawals</servlet-name>
		<url-pattern>/EmployeeViewAllCustomerWithdrawals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllCustomerTransferDetails</servlet-name>
		<url-pattern>/EmployeeViewAllCustomerTransferDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllCustomerDeposits</servlet-name>
		<url-pattern>/EmployeeViewAllCustomerDeposits</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllFeedbackServlet</servlet-name>
		<url-pattern>/EmployeeViewAllFeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllRequests</servlet-name>
		<url-pattern>/EmployeeViewAllRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewAllCustomerServlet</servlet-name>
		<url-pattern>/EmployeeViewAllCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCustomerServlet</servlet-name>
		<url-pattern>/LoginCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerFeedbackServlet</servlet-name>
		<url-pattern>/CustomerFeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDeleteCustomerServlet</servlet-name>
		<url-pattern>/EmployeeDeleteCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeViewCustomerByIdServlet</servlet-name>
		<url-pattern>/EmployeeViewCustomerByIdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerViewMyAccountServlet</servlet-name>
		<url-pattern>/CustomerViewMyAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<url-pattern>/EmployeeLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutEmployeeServlet</servlet-name>
		<url-pattern>/LogOutEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveCustomerServlet</servlet-name>
		<url-pattern>/ApproveCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RejectCustomerServlet</servlet-name>
		<url-pattern>/RejectCustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeGetDepositById</servlet-name>
		<url-pattern>/EmployeeGetDepositById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeGetWithdrawById</servlet-name>
		<url-pattern>/EmployeeGetWithdrawById</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandlerServlets</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandlerServlets</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandlerServlets</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandlerServlets</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ErrorHandlerServlets</location>
	</error-page>
</web-app>